@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* { box-sizing: border-box; }

body { margin: 0; font-family: "Open Sans", sans-serif; }

.container { width: 100%; max-width: 1200px; margin: 0 auto; background-color: lightgreen; text-align: center; padding: 30px 15px 15px; }

.test { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
