@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$fonts: 'Open Sans', sans-serif;
$background: lightgreen;
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: $fonts;
}
.container {
	width: 100%;
	max-width: 1200px;
	height: 100vh;
	margin: 0 auto;
	background-color: $background;
	text-align: center;
	padding: 30px 15px 15px;
}
.test {
	display: flex;
	flex-wrap: wrap;
}